.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #34db87;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  top: 50%;
  right: 50%;
  position: absolute;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
